$mobile-threshold: 600px;
$primary-color: #d93948;
$secondary-color: #0a334c;
$font: 'Montserrat';
$accent-font: 'Tangerine';
$header-hide-duration: 0.6s;
$hamburger-fade-duration: 0.2s;
$logo-big: 166px;
$logo-small: 72px;
$logo-padding: 2vw;

@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

@mixin black-bg() {
  background-color: black;
  color: white;
  * {
    color: white;
  }
  h1 {
    color: $primary-color;
  }
}
@mixin white-bg() {
  background-color: white;
  color: black;
  * {
    color: black;
  }
  h1 {
    color: $secondary-color;
  }
}
@mixin blue-bg() {
  background-color: $secondary-color;
  color: white;
  * {
    color: white;
  }
}
@mixin red-bg() {
  background-color: $primary-color;
  color: white;
  * {
    color: white;
  }
}

* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font, sans-serif;
  font-weight: 400;
  background-color: black;
  color: white;
}

header {
  @include black-bg();
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  height: calc($logo-big + 2 * $logo-padding);
  transition: top $header-hide-duration ease-in-out;
              //background-color $hamburger-fade-duration ease-in-out,
              //height $hamburger-fade-duration ease-in-out;

  .logo {
    padding: $logo-padding;
    float: left;
    max-height: $logo-big;
    transition: max-height 0.6s ease-in-out;
  }

  .menu {
    display: none;
    padding: 1rem 2rem;
    z-index: 2;
  }

  .buttons {
    padding: 2.5rem 2rem;
  }

  .buttons, .menu {
    position: relative;
    float: right;
  }

  a {
    text-decoration: none;
  }

  a.underline {
    text-decoration: underline;
    text-underline-offset: 1ex;
  }
}

.header-space {
  height: calc($logo-big + 2 * $logo-padding);
  @media (max-width: $mobile-threshold) {
    height: calc($logo-small + 2 * $logo-padding);
  }
}

// General to all sections
section {
  h1 {
    text-align: center;
  }
}

section.title {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 6.6vmax;

  h1 {
    font-size: calc(4vw + 1rem);
    font-weight: 700;
    color: $primary-color;
  }

  // h3 {
  //   font-family: $accent-font;
  //   font-size: 250%;
  // }

  p {
    //padding: 1.2rem;
  }

  .buttons {
    margin-top: 6vw;
  }
}

a.button,
input[type="submit"] {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 1.2rem 0.3rem;
  border-radius: 0.4rem;

  &.primary {
    border: 0;
    background: $primary-color;
    padding: 1.2rem 2rem;
    margin: 0 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

section.leadin {
  @include blue-bg();
  padding: 2rem 20vw;

  p, li {
    font-style: italic;
  }

  li {
    padding: 1ex 0;
  }

  // h2 {
  //   font-family: $accent-font;
  //   font-size: 200%;
  // }
}

section.carousel {
  @include red-bg();
  position: relative;
  padding: 4vw 6vw;
  h1 {
    padding-bottom: 4vw;
    margin: 0;
  }
  .row {
    display: flex;
    align-items: center;
    .left, .right {
      flex: 0 1 1rem;
    }
    .carousel {
      @include no-scroll-bar();
      flex: 1 0 0;
      display: flex;
      overflow-x: auto;
      img {
        height: 240px;
        margin: 0 0.2rem;
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
}

@mixin white-section() {
  @include white-bg();

  padding: 2rem 12vw;

  h1, h2 {
    color: $secondary-color;
  }
  p.author {
    &::before {
      content: '— ';
    }
    font-weight: normal;
    text-align: right;
  }
}

section.testimonials {
  @include white-section();

  p {
    font-weight: bold;
  }

  p.author {
    color: $secondary-color;
  }
}

section.about {
  @include white-section();

  h2 {
    text-align: center;
  }

  a, h3 {
    color: $primary-color;
  }
  p.author {
    position: relative;
    top: -1rem;
    height: 0;
  }
}

section.faq {
  @include white-section();

  h2 {
    color: $primary-color;
    background-color: #ddd;
    padding: 2vw;
    &::before {
      content: 'Q: ';
    }
    & > span {
      float: right;
      font-size: 120%;
      &::before {
        content: 'expand_more';
      }
    }
    &.expanded > span::before {
      content: 'expand_less';
    }

    & + p:before {
      content: 'A: ';
    }

    & + * {
      padding-left: 1rem;
      padding-right: 1rem;

      //height: 0;
      & > p:first-child::before {
        content: 'A: ';
      }
      
      overflow: hidden;
      transition: all .2s ease-in-out;
      max-height: 0;

      // color: transparent;
      // & ol, & p {
      //   margin: 0 0;
      // }
      // line-height: 0;
      // & p {
      //   margin-top: 0;
      //   margin-bottom: 0;
      //   padding-top: 0;
      //   padding-bottom: 0;
      // }
    }
    &.expanded + * {
      max-height: 500vw;
      // color: black;
      transition: all .5s ease-in-out;
      // line-height: 1.2;
      // & ol, & p {
      //   margin: 16px 0;
      // }
    }
  }


}

section.subscribe {
  @include blue-bg();
  padding: 2rem 20vw;
  text-align: center;

  a {
    font-weight: bold;
    text-decoration: none;
  }

  input[type="text"] {
    border-radius: 0.4rem;
    border: 0;
    padding: 1.2rem 1rem;
    color: black;
  }
}

section.modules {
  @include red-bg();
  padding: 4vw;

  a {
    text-decoration: none;
  }

  .grid {
    margin: 6vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3vw;

    @media (max-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .module {
    @include blue-bg();
    display: block;
    padding: 1vw;
    width: calc(100% - 2vw);
    overflow: hidden;

    .blur-cover {
      position: relative;
      overflow: hidden;
      aspect-ratio: 1 / 1;
      width: 100%;
      img:last-child {
        position: absolute;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
      img.blur {
        position: absolute;
        object-fit: cover;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        left: -5px;
        top: -5px;
        filter: blur(5px);
      }
    }
    .year {
      width: 100%;
      font-size: 120%;
      text-align: center;
      margin-top: 1vw;
    }
  }

}

// Scrolled indicates that we've scrolled down some amount.
// In that case, shrink the logo a bit, since we only want
// it really big at the top.
.scrolled {
  header {
    height: calc($logo-small + 2 * $logo-padding);
  }
  header .logo {
    max-height: $logo-small;
    // Set a transition delay so that we don't see it 
    transition-delay: $header-hide-duration;
  }
}

// Scrolled-down indicates we've scrolled down more recently
// than we've scrolled up.  In that case, hide the header by
// moving it up so that its bottom edge is at the top of the
// viewport.
.scrolled-down header {
  top: calc(-2 * $logo-padding - $logo-big);
}

// Modifications for small screens: permanently smaller logo,
// tucked away header menu, etc.
@media (max-width: $mobile-threshold) {
  header {
    height: calc($logo-small + 2 * $logo-padding);
    .logo {
      max-height: $logo-small;
    }
    .menu {
      display: block;
    }
    .buttons {
      display: none;
    }
  }
  br {
    content: " ";
    display: none;
  }
  .hamburger::before {
    content: "menu";
  }
  body.hamburger-expanded {
    overflow: hidden;

    .hamburger::before {
      content: "close";
    }

    section {
      //display: none;
    }

    header {
      height: 100%;
      background-color: black;
      color: white;

      //transition: height $hamburger-fade-duration ease-in-out 0s; // $hamburger-fade-duration;

      .buttons {
        display: block;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        a {
          display: block;
          text-align: center;
          font-size: 200%;
          margin: 4vw;
          &.button.primary:last-child {
            margin-right: 1rem;
          }
        }
      }

      a {
        color: white;
      }
    }
  }
}

// Remove some extra horizontal padding for medium/small screens.
@media (max-width: 750px) {
  section.leadin, section.faq {
    padding: 2rem 3rem;
  }
}
