//$heading-font: 'Montserrat';
$inline-book-threshold: 900px;
$heading-font: 'Saira Extra Condensed';
$body-font: 'Montserrat';
$primary-color: #d93948;
$secondary-color: #0a334c;
$accent-color: #3b8bc7;

// Dark theme support
:root {
  --secondary-color: #{$secondary-color};
  --shadow: white;
  --link-color: blue;
  --text-color: black;
  @media screen and (prefers-color-scheme: dark) {
    --secondary-color: #{$accent-color};
    --shadow: #111;
    --link-color: #bef;
    --text-color: white;
    body {
      background: #111;
    }
    a {
      color: var(--link-color);
    }
    .bg {
      * {
        // TODO: just put the AHEP logo up top right
        display: none;
      }
    }
  }
}

// Print support
@media print {
  @page {
    size: letter;
    margin: 2.3cm 2cm;
  }
  body {
    margin: 0;
    font-size: 83%;
  }
  div.activities, div.calendar {
    a {
      color: black !important;
    }
  }
  h1, h2, h3 {
    break-after: avoid;
  }
  p, h1, h2, h3 {
    widows: 6;
    orphans: 6;
  }
  .pagebreak {
    clear: both;
    page-break-after: always;
  }
}

.bg {
  @media print {
    display: none;
  }
  * {
    z-index: -100;
    position: fixed;
    max-width: 50vmin;
    max-height: 50vmin;
  }
  .tl, .tr {
    top: 0;
  }
  .tl, .bl {
    left: 0;
  }
  .bl, .br {
    bottom: 0;
  }
  .tr, .br {
    right: 0;
  }
}

body {
  @media not print {
    margin: 10vmin;
  }
  font-family: $body-font;
  color: var(--text-color);
}

h1, h2 {
  font-family: $heading-font;
}
h1 {
  @media print {
    margin-top: 0;
    padding-top: 0;
  }
  text-align: center;
  text-transform: uppercase;
  color: $primary-color;
}
h2 {
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 0;
  position: relative;

  i, em {
    font-style: normal;
  }

  a.bookmark {
    display: none;
    position: absolute;
    left: -1.2em;
    top: 0.3ex;
    width: 1.2em;
    color: var(--secondary-color);
    text-decoration: none;
  }

  &:hover .bookmark {
    display: block;
  }
}
h3 {
  font-size: 100%;
  &::after {
    content: ":"
  }
}

hr {
  border: 2px solid $primary-color;
  margin: 3.4ex 0 3ex;

  &+h1, &+h2, &+h3 {
    margin-top: 0;
  }
}

.book {
  margin-top: calc(3.4ex - 16px);
  padding-top: calc(3ex + 16px);
  padding-bottom: calc(3.4ex + 16px);
  margin-bottom: calc(3ex - 16px);

  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  // book is not actually background: always print it
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  .mobile-book {
    display: none;
  }

  // For mobile, don't overlay the book on the right
  @media screen and ((max-device-width: $inline-book-threshold) or (max-width: $inline-book-threshold)) {
    text-shadow: var(--shadow) 0 0 10px;
    background-size: 0;
    .mobile-book {
      display: block;
      width: 100%;
      margin-top: 2vw;
      margin-bottom: 2vw;
      max-height: 50vh;
      object-fit: contain;
      object-position: left;
    }
  }

  hr {
    margin: 0;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    &.top {
      top: 16px;
    }
    &.bottom {
      bottom: 16px;
    }
  }
  p {
    margin-bottom: 0;
    //margin-right: 20ex;
  }
}

div.activities {
  display: grid;
  grid-template-columns:
    [activity] 1fr [time] max-content [freq] max-content [prep] max-content;
  .header {
    grid-row: 1;
    background: $accent-color;
    color: white;
    font-weight: bold;
  }
  .activity {
    grid-column: activity;
  }
  .time {
    grid-column: time;
  }
  .freq {
    grid-column: freq;
    text-align: center;
  }
  .prep {
    grid-column: prep;
  }

  & > * {
    margin: 0;
    padding: 1ex 0.4em;
    border-bottom: 1px solid $accent-color;
  }

  a {
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      text-decoration: underline;
      color: var(--link-color);
    }
  }

  //gap: 1ex 0.4em;
  margin-top: 2ex;
  width: 100%;

  border-collapse: collapse;
  // thead {
  //   background: $accent-color;
  //   color: white;
  // }
  // tr {
  //   border-top: 1px solid $accent-color;
  // }
  // th, td {
  //   padding: 1ex 0.4em;
  //   &:nth-child(2), &:nth-child(4) {
  //     // don't want to wrap "x-y minutes"
  //     min-width: 7.5em;
  //   }
  //   &:nth-child(3) {
  //     // don't want to wrap "frequency"
  //     min-width: 3em;
  //     overflow: hidden;
  //   }
  // }
}

div.calendar {
  display: grid;
  grid-columns: 5;
  .header {
    grid-row: 1;
    background: $primary-color;
    color: white;
    font-weight: bold;
  }

  & > * {
    margin: 0;
    padding: 1ex 0.4em;
    outline: 1px solid $primary-color;
  }

  a {
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      text-decoration: underline;
      color: var(--link-color);
    }
  }

  strong,b {
    font-weight: 500;
  }

  margin-top: 2ex;
  width: 100%;
  gap: 1px;
}

// table.activities {
//   margin-top: 2ex;
//   width: 100%;
//   border-collapse: collapse;
//   thead {
//     background: $accent-color;
//     color: white;
//   }
//   tr {
//     border-top: 1px solid $accent-color;
//   }
//   th, td {
//     padding: 1ex 0.4em;
//     &:nth-child(2), &:nth-child(4) {
//       // don't want to wrap "x-y minutes"
//       min-width: 7.5em;
//     }
//     &:nth-child(3) {
//       // don't want to wrap "frequency"
//       min-width: 3em;
//       overflow: hidden;
//     }
//   }
// }

blockquote {
  //font-family: $body-font;
  &.nowrap, &.psalm {
    white-space: pre-line;
    &+p {
      margin-top: 0;
    }
    margin: 0;
    padding: 0;
    p {
      margin: 0;
      padding: 0;
    }
  }
  &.psalm {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }
  text-align: center;
  font-style: italic;
  text-wrap: balance;
}

p.center {
  text-align: center;
  img {
    max-width: 50%;
    max-height: 35vh;
  }
  &.small img {
    max-height: 20vh;
  }
  &.smaller img {
    max-height: 18vh;
  }
  &.caption {
    font-style: italic;
    text-wrap: balance;
  }
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  grid-row-gap: 1ex;
  dt {
    grid-column-start: 1;
    font-weight: bold;
  }
  dd {
    grid-column-start: 2;
  }
}

// TODO - make this a lot more standard
.small img {
  transform: scale(95%);
}

// .book {
//   display: flex;
//   flex-direction: row-reverse;
//   align-items: stretch;
//   // .cover {
//   //   margin-top: -3.4ex;
//   //   margin-bottom: -3.4ex;
//   //   display: flex;
//   //   flex-direction: column;
//   //   img {
//   //     flex: 1 0 0; // 0 basis but grow as needed
//   //   }
//   // }
// }

.language-metadata {
  display: none;
}
