---
partial: true
layout: default
---
<section class="title">

<h1>American History <br>Education Project</h1>

<h3>A Great Picture Books curriculum for teaching
<br>children traditional American values</h3>

<div class="buttons">
<a href="{{relative 'about'}}" class="button primary">Learn More</a>
</div>

</section>

{{{content}}}

<section class="subscribe">

<h2>Subscribe</h2>

<p>Sign up with your email address to receive news and updates.

<p><form>
  <input type="text" size="30" placeholder="Email Address">
  <input type="submit" class="primary" value="Sign Up">
</form>

<p><a href="mailto:ahep1776@gmail.com">Contact Us: ahep1776@gmail.com</a>

</section>
